<!DOCTYPE HTML>
<html lang="en">
<head>
        <% include ./components/head %>
</head>

<body>
    <form>
        <% include ./components/form %>
        Login Error
    </form>

    <footer>
        <% include ./components/foot %>
    </footer>
</body>
</html>